layout {
    gaps 4
    border {
        off
    }
    focus-ring {
        off
    }
}

window-rule {
    match app-id=r#"(?i)steam"# title=r#"(?i)updating"#
    open-floating true
}

window-rule {
    match app-id=r#"(?i)zenity"#
    open-floating true
}

window-rule {
    match app-id="steam-installer"
    open-floating true
}


